* {
    box-sizing: border-box;
}

section {
    color: $white;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: $lg;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: $xxl;
    font-weight: bold;
    margin-bottom: 20px;

    &-span{
        color: $footerLinkColor;
    }
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 $footerColor;
}

.contact-form {
    background: $mainColor;

    p{
        margin: 0;
        padding: $md;
    }

    button, input, textarea{
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: $white;
        border-bottom: 1px solid $white;
    }

    button{
        background: $footerLinkColor;
        border: 0;
        text-transform: uppercase;
        padding: $md;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-label{
        display: block;
    }

    &-p{
        margin: 0;
    padding: $md;
    }

    .block{
        grid-column: 1 / 3;  
    }
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: $black;
    color:  $white;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: $black;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}